@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
}

@theme {
  --consumers-background-color: #f36368;
  --consumers-background-color-faded: #ff9fa2;
  --consumers-accent-color: #ffffff;
  --renewable-background-color: #ffca3a;
  --renewable-background-color-faded: #ffe8aa;
  --renewable-accent-color: #000000;
  --gas-background-color: #ff924c;
  --gas-accent-color: #000000;
  --nuclear-background-color: #8ac926;
  --nuclear-accent-color: #000000;
  --storage-background-color: #1982c4;
  --storage-accent-color: #ffffff;
  --market-background-color: #896bb3;
  --market-accent-color: #ffffff;
}

html {
  background-color: var(--color-base-200);
}

.consumers {
  fill: var(--consumers-background-color);
}
.renewables {
  fill: var(--renewable-background-color);
}
.nuclear {
  fill: var(--nuclear-background-color);
}
.gas {
  fill: var(--gas-background-color);
}
.storage {
  fill: var(--storage-background-color);
}
.market {
  fill: var(--market-background-color);
}
