@import "tailwindcss";
@plugin "daisyui" {
  themes: retro;
}

@theme {
  --consumers-background-color: #ff595e;
  --consumers-accent-color: #ffffff;
  --renewable-background-color: #ffca3a;
  --renewable-accent-color: #000000;
  --gas-background-color: #ff924c;
  --gas-accent-color: #000000;
  --nuclear-background-color: #8ac926;
  --nuclear-accent-color: #000000;
  --storage-background-color: #1982c4;
  --storage-accent-color: #ffffff;
  --market-background-color: #6a4c93;
  --market-accent-color: #ffffff;
}

html {
  background-color: var(--color-base-200);
}
